/*body {
	padding-bottom: 80px;
}*/

p {
	text-align: center;
	padding-top: .5rem;
	margin-bottom: .5rem;
}

img {
	height: 150px;
	display: block;
}

button {
	margin: 2px;
}

.card {
	background: #e9ecef;
	margin: 2px;
}

.strong {
	font-weight: bold;
}

#buttons {
	margin-bottom: 10px;
}

#gif-form {
	margin-bottom: 10px;
}

#footer {
	text-align: center;
	height: 60px;
	background-color: #e9ecef;
	padding-top: 20px;
	width: 100%;
	font-size: 12px;
	margin-top: 20px;
	position: relative;
	bottom: 0;
	right: 0;
	left: 0;
	}
